// Colors
$white: #fff;
$off-white: #F7F7F7;
$black: #000;
$off-black: #20222b;
$purple: #844CD3;
$purple-light: #B28FE4;
$red-dark: #880E4F;
$red: #F50057;

$space: #090A0F;
$moon: #F5F3CE;
$moon-shadow: #C4C2A5;
$crater-shadow: #999881;
$moon: #ebf3fe;
$moon-shadow: #C3C8CF;
$crater-shadow: #A8ABAF;



// Spacing(padding) and Font-size
$xs-size: .6rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;